/* src/styles/Details.css */

.details-container {
    padding: 20px;
  }
  
  .details-container iframe {
    width: 100%;
    height: 315px;
  }
  
  .details-info {
    margin-top: 20px;
  }
  


/* .details-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
   */