/* src/styles/Header.css */

.header-container {
    background-color: #000;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .header-container h1 {
    margin: 0;
  }
  
  .header-container nav a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
  }
  