/* src/styles/Profile.css */

.profile-container {
    padding: 20px;
  }
  
  .profile-container h1 {
    margin-bottom: 20px;
  }
  

/* .profile-container {
    padding: 20px;
    background-color: #f9f9f9;
  } */
  